<div class="cart">
    <div *ngIf="noCartItems">Rien dans le pannier...</div>
    <div *ngFor="#cartItem of cartItems">
        <div class="row cart-item">
            <div class="col-md-8">
                <a class="card-link" (click)="gotoDetail(cartItem.product)">
                    <h1>{{cartItem.product.name}}</h1>
                </a>
                <h2>{{cartItem.product.price | currency:'CAD':true}}</h2>
                <h2>Quantité: {{cartItem.qty}}</h2>
                <div class="btn-group" role="group" aria-label="Cart actions">
                  <button type="button" class="btn btn-primary" (click)="addOneToCart(cartItem.product)">+</button>
                  <button type="button" class="btn btn-danger" (click)="removeOneFromCart(cartItem.product)">-</button>
                </div>
                <button type="button" class="btn btn-danger" (click)="removeFromCart(cartItem.product)">Enlever du pannier</button>
            </div>
            <div class="col-md-4 cart-item__image">
                <img class="card-img-top card-img-top--fixed-height" src="{{cartItem.product.imagePath}}" alt="Card image cap">
            </div>
        </div>
        <hr>
    </div>
</div>
